:root {
  /* Font family */
  --ff-sans: "Roboto", sans-serif;

  /* Font sizes */
  --fs-300: 0.8125rem;
  --fs-400: 0.9375rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;
  --fs-1100: 4rem;

  /* Colors */
  --clr-fuel_yellow: #f0b429;
  --clr-catskill_white: #e2e8f0;
  --clr-curious_blue: #1992d4;
  --clr-dove-grey: #636363;
  --clr-nobel: #b6b6b6;
  --clr-mercury: #e1e1e1;
  --clr-alto: #d2d2d2;
  --clr-black: #000;
  --clr-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-sans);
  line-height: 1.3;
  height: 100dvh;
}

img {
  display: block;
  width: 100%;
}

svg:hover {
  cursor: pointer;
}

p {
  color: var(--clr-paragraph);
}

.container {
  padding: 1.5rem;
}

.dashboard {
  display: grid;
  grid-template-columns: clamp(275px, 15%, 325px) 1fr;
  height: 100%;
}

/* SIDEBAR */

.sidebar {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 7;

  background-color: var(--clr-curious_blue);
  font-weight: 500;
}

.sidebar a {
  font-size: var(--fs-600);
  text-decoration: none;
  color: var(--clr-white);
}

.sidebar .attribution {
  font-size: var(--fs-300);
  position: absolute;
  bottom: 1%;
  width: 100%;
  margin-left: -1.5rem; /* Needed to center, offsets padding of parent */
  text-align: center;
}

.sidebar svg {
  fill: var(--clr-white);
}

.sidebar-menu {
  list-style-type: none;

  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  align-items: center;
  column-gap: 10px;
  row-gap: 30px;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  height: 50px;
}

.sidebar-menu a {
  font-size: var(--fs-600);
  margin-left: 0.5rem;
}

.sidebar-menu svg {
  width: var(--fs-600);
}

.sidebar-menu__header svg {
  width: var(--fs-900);
}

.sidebar-menu__header a {
  font-size: var(--fs-700);
}

.sidebar-menu .icon-container {
  display: flex;
  width: var(--fs-900);
  align-items: center;
  justify-content: center;
}

/* HEADER */

.header {
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 20px;

  background-color: var(--clr-white);
  z-index: 999;
  box-shadow: 0px 3px 3px var(--clr-nobel);
}

.header svg {
  width: var(--fs-600);
}

.search-bar {
  padding-left: 2rem;
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  max-width: 750px;
  margin-left: 1rem;
  padding-left: 1rem;

  background-color: var(--clr-mercury);
  border: none;
  height: 30px;
  border-radius: 25px;
}

.search-bar input:focus {
  outline: 2px solid var(--clr-curious_blue);
}

.notifications {
  padding-right: 2rem;
  grid-column: 2 / 3;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.notifications img {
  width: var(--fs-800);
}

.user-greeting {
  grid-column: 1 / 2;
  padding-left: 2rem;

  display: flex;
  align-items: center;
}

.user-greeting img {
  width: var(--fs-1100);
}

.user-greeting__text {
  margin-left: 1rem;
}

.menu {
  padding-right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu button {
  width: 100px;
  height: 40px;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  background-color: var(--clr-curious_blue);
  color: var(--clr-white);

  font-size: var(--fs-400);
  font-weight: 600;
}

.menu button:hover {
  cursor: pointer;
}

/* MAIN CONTENT */

.main-content {
  grid-row: 2 / 7;
  justify-content: center;

  display: grid;
  grid-template-columns: 3fr 20%;
  background-color: var(--clr-catskill_white);
  gap: 20px;
  padding: 1rem 2rem 3rem 2rem;

  overflow-y: scroll;
  scrollbar-width: none;
}

.main-content__projects {
  grid-column: 1 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.main-content__side {
  grid-column: 2 / 3;

  display: grid;
  grid-template-rows: 1fr 30px 1fr;
  row-gap: 20px;

  min-width: 300px;
}

/* "Your projects", "Announcements", "Trending" headers */
.main-content > h3,
.main-content__side > h3 {
  font-size: var(--fs-600);
  font-weight: 500;

  margin-bottom: -10px;
}

.card {
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: 3px 3px 3px var(--clr-nobel);
}

.project {
  border-left: 10px solid var(--clr-fuel_yellow);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  min-width: 250px;
}

.project-text p {
  font-size: var(--fs-400);
}

.project-text h3 {
  font-size: var(--fs-500);
}

.project-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.project-icons > * {
  width: var(--fs-600);
}

.main-content h3 {
  align-self: end;
}

.main-content h3 ~ h3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-content__side h3 {
  grid-row: 2 / 3;
  align-self: end;
}

.announcements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

.announcements hr {
  display: block;
  color: var(--clr-alto);
  font-size: var(--fs-400);
  margin-block: 10px;
}

.announcements-text {
  padding-inline: 5px;
}

.announcements-text p {
  font-size: var(--fs-300);
}

.trending {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.trending-item {
  display: flex;
  align-items: center;
}

.trending-item > a > img {
  width: var(--fs-800);
  margin-right: 1rem;
}

.trending-text > * {
  font-size: var(--fs-400);
  font-weight: 400;
}

/* MEDIA QUERIES */

@media (max-width: 1500px) {
  .main-content {
    grid-template-columns: 2fr 300px;
  }

  .main-content__projects {
    grid-column: 1 / 2;
    grid-template-columns: 1fr 1fr;
  }

  .main-content__side {
    grid-column: 2 / 3;
    grid-template-rows: minmax(300px, 40%) 30px minmax(300px, 40%);
  }

  .announcements {
    grid-row: 1 / 2;
  }

  .trending,
  .announcements {
    height: clamp(300px, 100%, 350px);
  }
}

@media (max-width: 1200px) {
  .main-content {
    grid-template-columns: minmax(300px, 40%) minmax(300px, 40%);
    grid-template-rows: 30px 1fr 30px 1fr;
    gap: 20px;
  }

  .main-content__projects {
    grid-template-columns: 1fr 1fr;
  }

  .main-content__side {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row: 1 / 3;
    gap: 20px;
  }

  .main-content h3:nth-child(1) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .main-content h3:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .main-content h3:nth-child(3) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .main-content__projects {
    grid-column: 1 / 3;
  }

  .main-content__side {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .trending,
  .announcements {
    height: auto;
  }
}
