:root {
  /* Font family */
  --ff-sans: "Roboto", sans-serif;

  /* Font sizes */
  --fs-300: 0.6875rem;
  --fs-400: 0.9375rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-900: 3.5rem;
  --fs-1100: 4rem;

  /* Colors */
  /* --clr-bdr-proj: #f0b429;
  --clr-bkgd-main: #e2e8f0;
  --clr-bkgd-side: #1992d4;
  --clr-header: #000;
  --clr-paragraph: #636363; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-sans);
  height: 100dvh;
}

img {
  display: block;
  width: 100%;
}

svg:hover {
  cursor: pointer;
}

.container {
  padding: 1.5rem;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-columns: clamp(275px, 15%, 325px) 1fr;
  height: 100%;
}

/* SIDEBAR */

.sidebar {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 7;

  background-color: #1992d4;
  font-weight: 500;
}

.sidebar a {
  font-size: var(--fs-600);
  text-decoration: none;
  color: whitesmoke;
}

.sidebar .attribution {
  font-size: var(--fs-300);
  position: absolute;
  bottom: 1%;
  width: 100%;
  margin-left: -1.5rem;
  text-align: center;
}

.sidebar svg {
  fill: whitesmoke;
}

.sidebar-menu {
  list-style-type: none;

  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  align-items: center;
  column-gap: 10px;
  row-gap: 30px;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  height: 50px;
}

.sidebar-menu a {
  font-size: var(--fs-600);
  margin-left: 0.5rem;
}

.sidebar-menu svg {
  width: var(--fs-600);
}

.sidebar-menu__header svg {
  width: var(--fs-900);
}

.sidebar-menu__header a {
  font-size: var(--fs-700);
}

.sidebar-menu .icon-container {
  display: flex;
  width: var(--fs-900);
  align-items: center;
  justify-content: center;
}

/* HEADER */

.header {
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 20px;

  background-color: white;
  z-index: 999;
  box-shadow: 0px 3px 3px #b6b6b6;
}

.header svg {
  width: var(--fs-600);
}

.search-bar {
  padding-left: 2rem;
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  max-width: 750px;
  margin-left: 1rem;
  padding-left: 1rem;

  background-color: rgb(225, 225, 225);
  border: none;
  height: 30px;
  border-radius: 25px;
}

.notifications {
  padding-right: 2rem;
  grid-column: 2 / 3;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.notifications img {
  width: var(--fs-900);
}

.user-greeting {
  grid-column: 1 / 2;
  padding-left: 2rem;

  display: flex;
  align-items: center;
}

.user-greeting img {
  width: var(--fs-1100);
}

.user-greeting__text {
  margin-left: 1rem;
}

.menu {
  padding-right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu button {
  width: 100px;
  height: 40px;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  background-color: #1992d4;
  color: whitesmoke;

  font-size: var(--fs-400);
  font-weight: 600;
}

/* MAIN CONTENT */

.main-content {
  grid-row: 2 / 7;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 30px auto;
  background-color: #e2e8f0;
  column-gap: 20px;
  row-gap: 20px;
  padding: 2rem;
}

.main-content__projects {
  grid-column: 1 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.main-content__side {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-rows: 1fr 30px 1fr;
  row-gap: 20px;
}

.main-content h3 {
  font-size: var(--fs-600);
  font-weight: 500;
}

.announcements {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 2rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #b6b6b6;
}

.project {
  border-left: 10px solid #f0b429;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-text p,
.announcements-text p,
.trending p {
  color: var(--fc-p);
}

.project-text h3 {
  font-size: var(--fs-500);
}

.project-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.project-icons > * {
  width: var(--fs-600);
}

.main-content h3 {
  align-self: end;
}

.main-content h3 ~ h3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-content__side h3 {
  grid-row: 2 / 3;
  align-self: end;
}

.announcements hr {
  color: #d2d2d2;
}

.announcements-text {
  padding-inline: 5px;
}

.trending {
  grid-row: 3 / 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.trending-item {
  display: flex;
  align-items: center;
}

.trending-item > a > img {
  width: var(--fs-900);
  margin-right: 1rem;
}

.trending-text > * {
  font-size: var(--fs-400);
}
